<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/user/styles/userlogin.css">
</head>
<body>
    <div class="form-structor">
        <div class="signup">
          <h2 class="form-title" id="signup"><span>or</span>COORDINATOR</h2>
          <form action="/coordinators" method="post">
            <div class="form-holder">
              <input
                class="input"
                type="text"
                id="c_name"
                name="c_name"
                required
                placeholder="Name"
              />
              <input
                class="input"
                type="email"
                id="c_email"
                name="c_email"
                required
                placeholder="Email Address"
              />
              <input
                class="input"
                type="password"
                id="c_password"
                name="c_password"
                required
                placeholder="Password"
              />
            </div>
            <button type="submit" class="submit-btn">LOGIN</button>
          </form>
        </div>
        <div class="login slide-up">
          <div class="center">
            <h2 class="form-title" id="login"><span>or</span>SGC</h2>
            <form action="/sgc" method="post">
              <div class="form-holder">
                <input
                  class="input"
                  type="email"
                  id="u_email"
                  name="u_email"
                  required
                  placeholder="Email Address"
                />
                <input
                  class="input"
                  type="password"
                  id="u_password"
                  name="u_password"
                  required
                  placeholder="Password"
                />
              </div>
              <button type="submit" class="submit-btn">SGC</button>
            </form>
          </div>
        </div>
      </div>

      <script src="/user/javascript/userlogin.js"></script>
</body>
</html>
